[defaults]
host=HOSTNAME

[smb4]
base=CN=Users,DC=central,DC=s,DC=example,DC=com
uri=ldap://10.0.0.100
port=389
binddn=CN=Administrator,CN=Users,DC=central,DC=s,DC=example,DC=com
password=secret1
user_suffix=CN=Users,DC=central,DC=s,DC=example,DC=com
usetls=True
cacert=/var/lib/samba/private/tls/ca.pem
key=/var/lib/samba/private/tls/key.pem
cert=/var/lib/samba/private/tls/cert.pem

[OpenLDAP]
base=DC=open,DC=example,DC=com
uri=ldap://10.0.0.101
port=389
binddn=cn=Manager,DC=open,DC=example,DC=com
password=secret2
filter=objectClass=person

[ActiveDirectory]
ip=10.0.0.102
domain=EXAMPLE
dns_domain=s.example.com
basepath=DC=s,DC=example,DC=com
objectclas=top|person|organizationalPerson|user
distinguishedname=cn=Users,DC=s,DC=example,DC=com
username=Administrator
userpassword=secret3
